/* ____________________ Root  ____________________ */
:root {
    --margins: 0 70rem;

    @media (max-width: 2559px) {
        --margins: 0 60rem;
    }
    @media (max-width: 2185px) {
        --margins: 0 45rem;
    }
    @media (max-width: 2000px) {
        --margins: 0 35rem;
    }
    @media (max-width: 1773px) {
        --margins: 0 21rem;
    }
    @media (max-width: 1371px) {
        --margins: 0 19rem;
    }
    @media (max-width: 1223px) {
        --margins: 0 17rem;
    }
    @media (max-width: 1099px) {
        --margins: 0 10rem;
    }
    @media (max-width: 783px) {
        --margins: 0 4rem;
    }
    @media (max-width: 645px) {
        --margins: 0 2rem;
    }
    
    scroll-behavior: smooth;
}
html {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 62.5%;
    color: #332220;
}
body {
    overflow-x: hidden;
}

/* ____________________ Nav ____________________ */
nav {
    height: 17rem;
    padding: var(--margins);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    
    .nav-logo-wordmark {
        width: 40%;
        height: 90%;
        display: flex;
        align-items: center;
        z-index: 2;

        .wordmark {
            height: 100%;

            .cls-1 {
                font-family: PoetsenOne-Regular, 'Poetsen One';
                font-size: 160.72px;
                stroke-width: 5.02px;
            }
            .cls-1, .cls-2 {
                fill: none;
                stroke: #332220;
            }
            .cls-2 {
                stroke-miterlimit: 10;
                stroke-width: 15.07px;
            }

            @media (max-width: 480px) {
                display: none;
            }
        }
        .logo {    
            height: 100%;
            display: none;

            .cls-1 {
                fill: none;
                stroke: #332220;
                stroke-miterlimit: 10;
                stroke-width: 18.75px;
            }

            @media (max-width: 480px) {
                display: block;
            }
        }
    }
    .ham-icon {
        flex: 0 0 10%;
        height: 25%;
        display: none;
        z-index: 2;
        cursor: pointer;

        .line {
            width: 100%;
            height: 0.5rem;
            background-color: #332220;

            &:nth-of-type(2) {
                width: 0%;
                height: 0.3rem;
                transition: all 0.5s ease-in-out;
            }
        }

        @media (max-width: 480px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }
    .ham-menu {
        display: flex;
        align-items: center;
        transform: translateX(0);
        transition: all 0.5s ease-in-out;
        z-index: 1;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
    
            li {
                margin-right: 2rem;
    
                a {
                    font-size: 2.4rem;
                    text-decoration: none;
                    color: #332220;
                }
                &:nth-of-type(3) {
                    margin-right: unset;
                }
            }
        }
        
        @media (max-width: 480px) {
            position: absolute;
            width: 50vw;
            height: 100vh;
            padding-top: 13rem;
            top: 0;
            left: 100vw;
            display: flex;
            justify-content: end;
            align-items: unset;
            background-color: white;

            ul {
                margin-right: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: unset;
                align-items: end;
        
                li {
                    margin-right: unset;
                    margin-bottom: 2rem;
        
                    a {
                        font-size: 2.4rem;
                        text-decoration: none;
                        color: #332220;
                    }
                    &:nth-of-type(3) {
                        margin-bottom: unset;
                    }
                }
            } 
        }
    }

    @media (max-width: 480px) {
        height: 10rem;
    }
}

/* ____________________ Footer ____________________ */
footer {
    height: 40rem;
    padding: var(--margins);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .linkedin-icon {
        flex: 0 0 20%;
        height: 20%;
        object-fit: contain;

        a {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .footer-text {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: end;

        p {
            text-align: center;
            text-wrap: nowrap;
        }
    }
    .footer-wordmark {
        flex: 0 0 40%;
        height: 100%;
        display: flex;
        align-items: center;

        a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .cls-1 {
                font-family: PoetsenOne-Regular, 'Poetsen One';
                font-size: 160.72px;
                stroke-width: 5.02px;
            }
            .cls-1, .cls-2 {
                fill: none;
                stroke: #332220;
            }
            .cls-2 {
                stroke-miterlimit: 10;
                stroke-width: 15.07px;
            }
        }
    }

    @media (max-width: 1024px) {
        height: 25rem;
    }
    @media (max-width: 480px) {
        height: 20rem;
    }
}

/* ____________________ Body ____________________ */
main {
    padding-top: 1.5rem;
    margin: var(--margins);
}
article, section {
    margin-top: 4rem;

    @media (max-width: 563px) {
        margin-top: 2rem;
    }
}
.hero-banner {
    position: relative;
    height: 40rem;
    margin: 0;
    padding: var(--margins);
    background-image: url("../media/img/hero_banner.png");
    background-size: cover;
    background-position: center;

    h1 {
        padding-top: 4rem;
        transform: translateY(0);
        opacity: 0;
        animation: fadeInJump 0.5s 0.25s ease-in forwards;
    }
    h2 {
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 4rem;
        opacity: 0;
        animation: fadeIn 0.5s 1.5s ease forwards;

        @media (max-width: 669px) {
            font-size: 3.6rem;
        }
        @media (max-width: 565px) {
            font-size: 2.8rem;
            text-align: center;
        }
        @media (max-width: 480px) {
            font-size: 2rem;
        }
        @media (max-width: 332px) {
            font-size: 1.8rem;
        }
    }
    .btn {
        font-size: 1.8rem;
        text-decoration: none;
        text-align: center;
        display: block;
        width: 10%;
        height: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        border: 0.5rem #332220 solid;
        margin-top: 2rem;
        color: #332220;
        transition: all 0.15s ease;
        opacity: 0;
        animation: fadeIn 0.5s 2s ease forwards;

        &:hover {
            background-color: #332220;
            color: white;
        }
        @media (max-width: 1430px) {
            width: 20%;
        }
        @media (max-width: 563px) {
            font-size: 1.6rem;
            margin-top: 1.5rem;
            width: 30%;
        }
        @media (max-width: 480px) {
            height: 15%;
        }
    }

    @media (max-width: 645px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media (max-width: 563px) {
        height: 30rem;
    }
    @media (max-width: 480px) {
        height: 25rem;
        display: flex;  
        flex-direction: column;
        align-items: center;
    }
}
.card-container {
    width: 100%;

    .card {
        padding: 1rem;
        margin-bottom: 5rem;
        border-top: 0.75rem #332220 solid;
        border-bottom: 0.75rem #332220 solid;
        display: flex;
        justify-content: center;
        align-items: center;

        &:nth-of-type(1) {
            margin-top: 5rem;
        }

        .card-content {
            width: 100%;
            height: 100%;
            padding: 1.2rem;
            display: flex;
            align-items: center;
            gap: 5%;
            border-top: 0.5rem #332220 solid;
            border-bottom: 0.5rem #332220 solid;
            
            .img-link {
                flex: 0 0 40%;
                height: 25rem;
                display: block;
                transition: all 0.5s ease;
    
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 1.5rem;
                    object-fit: cover;
                    object-position: center;

                    &.position-top {
                        object-position: top;
                    }

                    @media (max-width: 768px) {
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }
                &:hover {
                    transform: scale(1.1);
                }

                @media (max-width: 768px) {
                    flex: unset;
                    width: 100%;
                    height: 30rem;
                    padding-bottom: 1rem;
                    margin-bottom: 0.5rem;
                    border-bottom: 0.75rem #332220 solid;
                }
                @media (max-width: 575px) {
                    height: 20rem;
                }
            }
            article {
                height: 100%;

                .btn-flex {
                    width: 100%;
                    height: 30%;
                    display: flex;
                    justify-content: space-between;

                    .btn {
                        font-size: 1.8rem;
                        text-decoration: none;
                        text-align: center;
                        display: block;
                        flex: 0 0 40%;
                        height: 5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 2rem;
                        border: 0.5rem #332220 solid;
                        color: #332220;
                        transition: all 0.15s ease;

                        &:hover {
                            background-color: #332220;
                            color: white;
                        }

                        @media (max-width: 768px) {
                            height: 5rem;
                        }
                        @media (max-width: 480px) {
                            font-size: 1.6rem;
                        }
                    }

                    @media (max-width: 1167px) {
                        height: 25%;
                    }
                    @media (max-width: 768px) {
                        margin-top: 1rem;
                    }
                }

                @media (max-width: 768px) {
                    width: 90%;
                    padding-top: 1rem;
                    border-top: 0.5rem #332220 solid;
                }
            }

            @media (max-width: 768px) {
                border: unset;
                flex-direction: column;
            }
        }

        @media (max-width: 768px) {
            height: unset;
            border: unset;
        }
    }
}
.skills {
    margin: 2rem 0 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;

    img {
        width: 10rem;
        height: 10rem;
        margin-bottom: 1rem;
        border-radius: 1.5rem;
    }
}

/* ____________________ Utilities ____________________ */
.no-margin-top {
    margin-top: unset;
}
.btn {
    font-size: 1.8rem;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 20%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    border: 0.5rem #332220 solid;
    color: #332220;
    transition: all 0.15s ease;

    &:hover {
        background-color: #332220;
        color: white;
    }

    @media (max-width: 480px) {
        width: 40%;
        font-size: 1.6rem;
    }
}
.underline {
    padding: 0.4rem 0;
    display: inline-block;
    position: relative;
    text-decoration: none;

    &::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 0.5rem;
        bottom: 0;
        left: 0;
        background-color: #F3715C;
        transition: all 0.3s ease-in-out;
    }
    &:hover::after {
        width: 100%;
    }

    @media (max-width: 835px) {
        text-decoration: underline;

        &:hover::after {
            width: 0%;
        }
    }
}
li a {
    padding: 0.4rem 0;
    display: inline-block;
    position: relative;
    text-decoration: none;

    &::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 0.15rem;
        margin-bottom: 0.5rem;
        bottom: 0;
        left: 0;
        background-color: #332220;
        transition: all 0.25s ease;
    }
    &:hover::after {
        width: 100%;
    }
    &::before {
        content: "";
        position: absolute;
        width: 0%;
        height: 0.25rem;
        bottom: 0;
        left: 0;
        background-color: #332220;
        transition: all 0.25s ease;
    }
    &:hover::before {
        width: 100%;
    }

    @media (max-width: 835px) {
        &:hover::after {
            width: 0%;
        }
        &:hover::before {
            width: 0%;
        }
    }
}
.p-img-container {
    display: flex;
    justify-content: space-between;

    .col-1 {
        flex: 0 0 60%;
    }
    .col-2 {
        flex: 0 0 40%;
    }

    @media (max-width: 950px) {
        flex-direction: column;

        .col-1 {
            flex: unset;
            width: 100%;
        }
        .col-2 {
            height: 20rem;
            margin-bottom: 0.5rem;
            display: flex;
            justify-content: space-between;
            align-items: end;
            flex: unset;
            width: 100%;

            @media (max-width: 480px) {
                height: 15rem;
            }
        }
    }
}
.image-container {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 90%;
        height: 100%;
        border-radius: 1.5rem;
        object-fit: cover;
    }

    @media (max-width: 950px) {
        flex: 0 0 40%;
        justify-content: end;
        align-items: center;
    }

    @media (max-width: 600px) {
        flex: 0 0 50%;
    }
}
.jeen-artifact {
    width: 100%;
    height: 40rem;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
    filter: drop-shadow(2rem);

    &:nth-of-type(1) {
        background-image: url("../media/img/jeen_img1.png");
        background-size: contain;
    }
    &:nth-of-type(2) {
        background-image: url("../media/img/jeen_img2.png");
        background-size: contain;
    }
    &:nth-of-type(3) {
        background-image: url("../media/img/jeen_img3.png");
        background-size: contain;
        margin-bottom: none;
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.pieces-artifact {
    width: 100%;
    height: 40rem;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
    filter: drop-shadow(2rem);

    &:nth-of-type(1) {
        background-image: url("../media/img/pieces_img1.png");
    }
    &:nth-of-type(3) {
        background-image: url("../media/img/pieces.png");
        background-position: unset;
        margin-bottom: none;
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.groove-artifact {
    width: 100%;
    height: 40rem;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
    filter: drop-shadow(2rem);

    &:nth-of-type(1) {
        background-image: url("../media/img/groove_img1.png");
        background-size: contain;
    }
    &:nth-of-type(2) {
        background-image: url("../media/img/groove_img2.png");
        background-size: contain;
    }
    &:nth-of-type(3) {
        background-image: url("../media/img/groove_img3.png");
        background-size: contain;
        margin-bottom: none;
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.trackrun-artifact {
    width: 100%;
    height: 40rem;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
    filter: drop-shadow(2rem);

    &:nth-of-type(1) {
        background-image: url("../media/img/trackrun_img1.png");
        background-size: contain;
    }
    &:nth-of-type(2) {
        background-image: url("../media/img/trackrun_img2.png");
        background-size: contain;
    }
    &:nth-of-type(3) {
        background-image: url("../media/img/trackrun_img3.png");
        background-size: contain;
        margin-bottom: none;
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
pre {
    width: 100%;
    height: 30%;
    margin-bottom: 2rem;
}
.hljs {
    font-size: 1.8rem;
    border-radius: 1.5rem;
}
.contact-article {
    p:nth-of-type(1) {
        margin-bottom: 2rem;
    }
    p:nth-of-type(2), p:nth-of-type(3) {
        margin-bottom: 1rem;;
    }
}

/* ____________________ Strokes ____________________ */
.nav-stroke {
    .thin {
        width: 100%;
        height: 0.5rem;
        margin-bottom: 0.8rem;
        background-color: #332220;
    }
    .thick {
        width: 100%;
        height: 1rem;
        background-color: #332220;
    }
}
.footer-stroke {
    margin-top: 5rem;

    .thick {
        width: 100%;
        height: 1rem;
        margin-bottom: 0.8rem;
        background-color: #332220;
    }
    .thin {
        width: 100%;
        height: 0.5rem;
        background-color: #332220;
    }
}

/* ____________________ Fonts ____________________ */
h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 8rem;

    @media (max-width: 563px) {
        font-size: 6rem;
        text-align: center;
    }
    @media (max-width: 480px) {
        font-size: 5.4rem;
        text-align: center;
    }
    @media (max-width: 394px) {
        font-size: 4.8rem;
        text-align: center;
    }
    @media (max-width: 353px) {
        font-size: 4.2rem;
    }
}
h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6.4rem;

    @media (max-width: 563px) {
        font-size: 4.6rem;
    }
    @media (max-width: 480px) {
        font-size: 4rem;
    }
    @media (max-width: 394px) {
        font-size: 3.6rem;
    }
}
h3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;

    @media (max-width: 563px) {
        font-size: 3.5rem;
    }
    @media (max-width: 480px) {
        font-size: 3.2rem;
    }
}
h4 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.6rem;

    @media (max-width: 563px) {
        font-size: 2.4rem;
    }
}
p {
    font-size: 1.8rem;
    line-height: 2.75rem;
    margin-bottom: 1rem;

    @media (max-width: 480px) {
        font-size: 1.6rem;
        line-height: 2.5rem;
    }
}
article li {
    list-style-type: circle;
    font-size: 2rem;
    line-height: 2.5rem;
}
strong {
    font-weight: 600;
}
a {
    color: #F3715C;
}

/* ____________________ Animations ____________________ */
@keyframes fadeInJump {
    0% {
        transform: translateY(-1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}