@font-face {
  font-family: "Poetsen One";
  src: url("../fonts/PoetsenOne-Regular.ttf") format("truetype");
  src: url("../fonts/poetsenone-regular-webfont.woff") format("woff");
  src: url("../fonts/poetsenone-regular-webfont.woff2") format("woff2");
}
/* ____________________ Root  ____________________ */
:root {
  --margins: 0 700px;
  --header-height: 114px;
  --primary-color: #332220;
  --complementary-color1: #F3715C;
  --complementary-color2: #2F8980;
  --grey: #8c726d50;
  --off-white: #fcf9f4;
  scroll-behavior: smooth;
}
@media (max-width: 2559px) {
  :root {
    --margins: 0 600px;
  }
}
@media (max-width: 2185px) {
  :root {
    --margins: 0 450px;
  }
}
@media (max-width: 2000px) {
  :root {
    --margins: 0 350px;
  }
}
@media (max-width: 1773px) {
  :root {
    --margins: 0 210px;
  }
}
@media (max-width: 1371px) {
  :root {
    --margins: 0 190px;
  }
}
@media (max-width: 1223px) {
  :root {
    --margins: 0 170px;
  }
}
@media (max-width: 1099px) {
  :root {
    --margins: 0 100px;
  }
}
@media (max-width: 783px) {
  :root {
    --margins: 0 40px;
  }
}
@media (max-width: 645px) {
  :root {
    --margins: 0 20px;
  }
}
@media (max-width: 481px) {
  :root {
    --header-height: 94px;
  }
}

html {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 62.5%;
  color: var(--primary-color);
}

body {
  background-color: var(--off-white);
  overflow-x: hidden;
}

/* ____________________ Nav ____________________ */
header {
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: var(--off-white);
  z-index: 2;
}
header nav {
  height: 100px;
  padding: var(--margins);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
header nav .nav-logo-wordmark {
  width: 40%;
  height: 90%;
  display: flex;
  align-items: center;
  z-index: 2;
}
header nav .nav-logo-wordmark .wordmark {
  height: 50%;
}
header nav .nav-logo-wordmark .wordmark .cls-1, header nav .nav-logo-wordmark .wordmark .cls-2 {
  font-family: PoetsenOne-Regular, "Poetsen One";
  font-size: 140px;
  stroke-width: 6px;
}
header nav .nav-logo-wordmark .wordmark .cls-1, header nav .nav-logo-wordmark .wordmark .cls-2, header nav .nav-logo-wordmark .wordmark .cls-3 {
  stroke: #332220;
}
header nav .nav-logo-wordmark .wordmark .cls-1, header nav .nav-logo-wordmark .wordmark .cls-4, header nav .nav-logo-wordmark .wordmark .cls-5, header nav .nav-logo-wordmark .wordmark .cls-6, header nav .nav-logo-wordmark .wordmark .cls-7 {
  fill: none;
}
header nav .nav-logo-wordmark .wordmark .cls-5, header nav .nav-logo-wordmark .wordmark .cls-8, header nav .nav-logo-wordmark .wordmark .cls-9 {
  letter-spacing: 0.04em;
}
header nav .nav-logo-wordmark .wordmark .cls-8, header nav .nav-logo-wordmark .wordmark .cls-3 {
  fill: #f3715c;
}
header nav .nav-logo-wordmark .wordmark .cls-10 {
  letter-spacing: 0.05em;
}
header nav .nav-logo-wordmark .wordmark .cls-11 {
  letter-spacing: 0.04em;
}
header nav .nav-logo-wordmark .wordmark .cls-6 {
  letter-spacing: 0.09em;
}
header nav .nav-logo-wordmark .wordmark .cls-3 {
  stroke-miterlimit: 10;
  stroke-width: 5.07px;
}
header nav .nav-logo-wordmark .wordmark .cls-7 {
  letter-spacing: 0.08em;
}
@media (max-width: 481px) {
  header nav .nav-logo-wordmark .wordmark {
    display: none;
  }
}
header nav .nav-logo-wordmark .logo {
  height: 50%;
  display: none;
}
header nav .nav-logo-wordmark .logo .cls-1 {
  fill: #f3715c;
  stroke: #332220;
  stroke-miterlimit: 10;
  stroke-width: 20.95px;
}
@media (max-width: 481px) {
  header nav .nav-logo-wordmark .logo {
    display: block;
  }
}
header nav .ham-icon {
  flex: 0 0 10%;
  height: 25%;
  display: none;
  z-index: 2;
  cursor: pointer;
}
header nav .ham-icon .line {
  width: 100%;
  height: 4px;
  background-color: var(--primary-color);
}
header nav .ham-icon .line:nth-of-type(2) {
  width: 0%;
  height: 3px;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 481px) {
  header nav .ham-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
header nav .ham-menu {
  display: flex;
  align-items: center;
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
header nav .ham-menu > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .ham-menu > ul > li {
  margin-right: 20px;
}
header nav .ham-menu > ul > li a {
  font-size: 2rem;
  text-decoration: none;
  color: var(--primary-color);
  padding: 4px 0;
  display: inline-block;
  position: relative;
  text-decoration: none;
}
header nav .ham-menu > ul > li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1.5px;
  margin-bottom: 5px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  transition: all 0.25s ease;
}
header nav .ham-menu > ul > li a:hover::after {
  width: 100%;
}
header nav .ham-menu > ul > li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2.5px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  transition: all 0.25s ease;
}
header nav .ham-menu > ul > li a:hover::before {
  width: 100%;
}
@media (max-width: 835px) {
  header nav .ham-menu > ul > li a:hover::after {
    width: 0%;
  }
  header nav .ham-menu > ul > li a:hover::before {
    width: 0%;
  }
}
header nav .ham-menu > ul > li.dropdown {
  position: relative;
}
header nav .ham-menu > ul > li.dropdown:hover .dropdown-menu {
  height: 150px;
}
@media (max-width: 481px) {
  header nav .ham-menu > ul > li.dropdown a {
    width: 100%;
    text-align: right;
  }
}
header nav .ham-menu > ul > li .dropdown-menu {
  position: absolute;
  height: 0;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  text-wrap: nowrap;
  overflow: hidden;
  background-color: var(--off-white);
  transition: all 0.25s ease-in;
}
@media (max-width: 481px) {
  header nav .ham-menu > ul > li .dropdown-menu {
    position: unset;
    height: unset;
    padding: unset;
    overflow: unset;
  }
}
header nav .ham-menu > ul > li:nth-of-type(3) {
  margin-right: unset;
}
@media (max-width: 481px) {
  header nav .ham-menu {
    position: absolute;
    width: 50vw;
    height: 100vh;
    padding-top: 130px;
    top: 0;
    left: 100vw;
    display: flex;
    justify-content: end;
    align-items: unset;
    background-color: var(--off-white);
  }
  header nav .ham-menu ul {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: end;
  }
  header nav .ham-menu ul li {
    margin-right: unset;
    margin-bottom: 20px;
  }
  header nav .ham-menu ul li a {
    text-decoration: none;
    color: var(--primary-color);
  }
  header nav .ham-menu ul li:nth-of-type(3) {
    margin-bottom: unset;
  }
}
@media (max-width: 481px) {
  header nav {
    height: 80px;
  }
}

/* ____________________ Footer ____________________ */
footer .footer-container {
  padding: var(--margins);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 481px) {
  footer .footer-container {
    justify-content: unset;
    flex-direction: column;
    gap: 20px;
  }
}
footer .footer-wordmark {
  flex: 0 0 40%;
  height: 90%;
  display: flex;
  align-items: center;
}
footer .footer-wordmark a {
  width: 90%;
}
footer .footer-wordmark a .wordmark {
  height: 90%;
}
footer .footer-wordmark a .wordmark .cls-1, footer .footer-wordmark a .wordmark .cls-2 {
  font-family: PoetsenOne-Regular, "Poetsen One";
  font-size: 140px;
  stroke-width: 6px;
}
footer .footer-wordmark a .wordmark .cls-1, footer .footer-wordmark a .wordmark .cls-2, footer .footer-wordmark a .wordmark .cls-3 {
  stroke: #332220;
}
footer .footer-wordmark a .wordmark .cls-1, footer .footer-wordmark a .wordmark .cls-4, footer .footer-wordmark a .wordmark .cls-5, footer .footer-wordmark a .wordmark .cls-6, footer .footer-wordmark a .wordmark .cls-7 {
  fill: none;
}
footer .footer-wordmark a .wordmark .cls-5, footer .footer-wordmark a .wordmark .cls-8, footer .footer-wordmark a .wordmark .cls-9 {
  letter-spacing: 0.04em;
}
footer .footer-wordmark a .wordmark .cls-8, footer .footer-wordmark a .wordmark .cls-3 {
  fill: #f3715c;
}
footer .footer-wordmark a .wordmark .cls-10 {
  letter-spacing: 0.05em;
}
footer .footer-wordmark a .wordmark .cls-11 {
  letter-spacing: 0.04em;
}
footer .footer-wordmark a .wordmark .cls-6 {
  letter-spacing: 0.09em;
}
footer .footer-wordmark a .wordmark .cls-3 {
  stroke-miterlimit: 10;
  stroke-width: 5.07px;
}
footer .footer-wordmark a .wordmark .cls-7 {
  letter-spacing: 0.08em;
}
@media (max-width: 675px) {
  footer .footer-wordmark {
    display: none;
  }
}
footer .footer-info {
  display: flex;
  font-size: 1.8rem;
}
@media (max-width: 675px) {
  footer .footer-info {
    width: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 481px) {
  footer .footer-info {
    width: 100%;
    flex-direction: column;
    gap: 20px;
    font-size: 1.6rem;
  }
}
footer .footer-contact {
  margin-right: 20px;
}
footer .footer-contact li {
  margin-top: 7.5px;
}
footer .footer-contact a {
  color: var(--primary-color);
}
@media (max-width: 675px) {
  footer .footer-contact {
    width: 45%;
  }
}
@media (max-width: 481px) {
  footer .footer-contact {
    width: unset;
  }
}
@media (max-width: 481px) {
  footer .footer-nav > div > ul {
    display: flex;
    gap: 10px;
  }
}
footer .footer-nav > div > div {
  margin-top: 7.5px;
}
footer .footer-nav > div > div ul {
  margin-left: 10px;
}
footer .footer-nav > div > div ul li {
  text-wrap: nowrap;
}
@media (max-width: 481px) {
  footer .footer-nav > div > div ul {
    display: none;
  }
}
@media (max-width: 675px) {
  footer .footer-nav > div > div {
    margin: 7.5px 0 0 20px;
  }
}
@media (max-width: 481px) {
  footer .footer-nav > div > div {
    display: flex;
    margin: 7.5px 0 0 10px;
  }
}
footer .footer-nav li {
  margin-top: 7.5px;
}
footer .footer-nav a {
  text-decoration: none;
  color: var(--primary-color);
}
@media (max-width: 675px) {
  footer .footer-nav {
    width: 45%;
  }
  footer .footer-nav > div {
    display: flex;
  }
}
@media (max-width: 481px) {
  footer .footer-nav {
    width: unset;
  }
}
footer .copyright {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

/* ____________________ Body ____________________ */
main {
  padding-top: var(--header-height);
  margin: var(--margins);
}
main.no-header-margin {
  padding-top: 15px;
}
@media (max-width: 481px) {
  main {
    padding-top: var(--header-height);
  }
}

article, section {
  margin-top: 40px;
}
@media (max-width: 563px) {
  article, section {
    margin-top: 20px;
  }
}

.hero-banner {
  position: relative;
  min-height: 400px;
  margin-top: var(--header-height);
  padding: var(--margins);
  display: flex;
  justify-content: space-between;
  background-image: url("../media/img/hero_banner.png");
  background-size: cover;
  background-position: center;
}
.hero-banner h1 {
  margin-top: 40px;
  transform: translateY(0);
  opacity: 0;
  animation: fadeInJump 0.5s 0.25s ease-in forwards;
}
.hero-banner h2 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 4rem;
  opacity: 0;
  animation: fadeIn 0.5s 1.5s ease forwards;
}
@media (max-width: 669px) {
  .hero-banner h2 {
    font-size: 3.6rem;
  }
}
@media (max-width: 565px) {
  .hero-banner h2 {
    font-size: 2.8rem;
    text-align: center;
  }
}
@media (max-width: 481px) {
  .hero-banner h2 {
    font-size: 2rem;
  }
}
@media (max-width: 332px) {
  .hero-banner h2 {
    font-size: 1.8rem;
  }
}
.hero-banner .btn-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  animation: fadeIn 0.5s 2s ease forwards;
  opacity: 0;
}
@media (max-width: 645px) {
  .hero-banner .btn-container {
    width: 100%;
    justify-content: center;
  }
}
.hero-banner .btn {
  font-size: 1.8rem;
  text-decoration: none;
  text-align: center;
  display: block;
  width: fit-content;
  height: fit-content;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2.5px var(--primary-color) solid;
  color: var(--primary-color);
  transition: all 0.15s ease;
}
.hero-banner .btn:hover {
  background-color: var(--primary-color);
  color: var(--off-white);
}
@media (max-width: 563px) {
  .hero-banner .btn {
    font-size: 1.6rem;
  }
}
.hero-banner i {
  font-size: 4rem;
  color: var(--primary-color);
  transition: all 0.25s ease;
}
.hero-banner i:hover {
  transform: scale(1.1);
}
@media (max-width: 481px) {
  .hero-banner i {
    font-size: 3.5rem;
  }
}
.hero-banner img {
  width: 350px;
  height: 350px;
  margin: 40px 20px;
  border-radius: 100px;
  opacity: 0;
  animation: fadeIn 1s 2.5s ease forwards;
}
@media (max-width: 1450px) {
  .hero-banner img {
    width: 250px;
    height: 250px;
    border-radius: 90px;
  }
}
@media (max-width: 1300px) {
  .hero-banner img {
    width: 220px;
    height: 220px;
    border-radius: 80px;
  }
}
@media (max-width: 1200px) {
  .hero-banner img {
    margin: 20px 20px 40px;
    border-radius: 75px;
  }
}
@media (max-width: 481px) {
  .hero-banner img {
    width: 200px;
    height: 200px;
    border-radius: 75px;
  }
}
@media (max-width: 1200px) {
  .hero-banner {
    flex-direction: column;
  }
}
@media (max-width: 645px) {
  .hero-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.card-container {
  width: 100%;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container .card {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container .card:nth-of-type(1) {
  margin-top: unset;
}
.card-container .card .card-content {
  width: 100%;
  height: 100%;
  padding: 25px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 5%;
  background-color: var(--off-white);
  filter: drop-shadow(5px 5px 7.5px black);
}
.card-container .card .card-content .img-link {
  flex: 0 0 40%;
  height: 250px;
  border-radius: 15px;
  display: block;
  transition: all 0.5s ease;
  overflow: hidden;
}
.card-container .card .card-content .img-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.card-container .card .card-content .img-link img.position-top {
  object-position: top;
}
.card-container .card .card-content .img-link img.contain {
  object-fit: contain;
}
@media (max-width: 768px) {
  .card-container .card .card-content .img-link img {
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.card-container .card .card-content .img-link:hover {
  transform: scale(1.05);
}
@media (max-width: 768px) {
  .card-container .card .card-content .img-link {
    flex: unset;
    width: 100%;
    height: 300px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-radius: unset;
    border-bottom: 7.5px var(--primary-color) solid;
    background-color: unset;
    overflow: unset;
  }
}
@media (max-width: 575px) {
  .card-container .card .card-content .img-link {
    height: 200px;
  }
}
.card-container .card .card-content article {
  height: 100%;
}
.card-container .card .card-content article h3 {
  margin-bottom: 7.5px;
}
.card-container .card .card-content article .project-category {
  display: block;
  margin-bottom: 5px;
  font-size: 2rem;
  color: var(--complementary-color2);
}
.card-container .card .card-content article .btn-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card-container .card .card-content article .btn-flex .btn {
  font-size: 1.8rem;
  text-decoration: none;
  text-align: center;
  display: block;
  flex: 0 0 40%;
  height: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2.5px var(--primary-color) solid;
  color: var(--primary-color);
  transition: all 0.15s ease;
}
.card-container .card .card-content article .btn-flex .btn:hover {
  background-color: var(--primary-color);
  color: var(--off-white);
}
@media (max-width: 768px) {
  .card-container .card .card-content article .btn-flex .btn {
    height: 50px;
  }
}
@media (max-width: 481px) {
  .card-container .card .card-content article .btn-flex .btn {
    font-size: 1.6rem;
  }
}
@media (max-width: 1167px) {
  .card-container .card .card-content article .btn-flex {
    height: 25%;
  }
}
@media (max-width: 768px) {
  .card-container .card .card-content article .btn-flex {
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .card-container .card .card-content article {
    width: 90%;
    padding-top: 10px;
    border-top: 5px var(--primary-color) solid;
  }
}
@media (max-width: 768px) {
  .card-container .card .card-content {
    padding: unset;
    border: unset;
    flex-direction: column;
    background-color: unset;
    filter: unset;
  }
}
@media (max-width: 768px) {
  .card-container .card {
    height: unset;
    border: unset;
  }
}
.card-container .btn {
  font-size: 1.8rem;
  text-decoration: none;
  text-align: center;
  display: block;
  width: fit-content;
  height: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2.5px var(--primary-color) solid;
  color: var(--primary-color);
  transition: all 0.15s ease;
}
.card-container .btn:hover {
  background-color: var(--primary-color);
  color: var(--off-white);
}

.skills {
  margin: 20px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  flex-wrap: wrap;
}
.skills img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 15px;
}

/* ____________________ Utilities ____________________ */
.no-margin-top {
  margin-top: unset;
}

.btn {
  font-size: 1.8rem;
  text-decoration: none;
  text-align: center;
  display: block;
  width: fit-content;
  height: fit-content;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2.5px var(--primary-color) solid;
  color: var(--primary-color);
  transition: all 0.15s ease;
}
.btn:hover {
  background-color: var(--primary-color);
  color: var(--off-white);
}
@media (max-width: 481px) {
  .btn {
    font-size: 1.6rem;
  }
}

.unavailable {
  background-color: var(--grey);
  filter: grayscale(1);
  pointer-events: none;
}

.underline {
  padding: 0.1em 0;
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.underline::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.1em;
  bottom: 0;
  left: 0;
  background-color: var(--complementary-color1);
  transition: all 0.3s ease-out;
}
.underline:hover::after {
  width: 100%;
}
@media (max-width: 835px) {
  .underline {
    padding: unset;
    text-decoration: underline;
  }
  .underline:hover::after {
    width: 0%;
  }
}

.p-img-container {
  display: flex;
  justify-content: space-between;
}
.p-img-container .col-1 {
  flex: 0 0 60%;
}
.p-img-container .col-2 {
  flex: 0 0 40%;
}
@media (max-width: 950px) {
  .p-img-container {
    flex-direction: column;
  }
  .p-img-container .col-1 {
    flex: unset;
    width: 100%;
  }
  .p-img-container .col-2 {
    height: 200px;
    margin: 20px 0 5px;
    display: flex;
    justify-content: unset;
    align-items: end;
    flex: unset;
    width: 100%;
  }
}
@media (max-width: 950px) and (max-width: 481px) {
  .p-img-container .col-2 {
    height: 150px;
  }
}

.image-container {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  width: 90%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}
@media (max-width: 950px) {
  .image-container {
    flex: 0 0 40%;
    justify-content: start;
    align-items: start;
  }
}
@media (max-width: 600px) {
  .image-container {
    flex: 0 0 50%;
  }
}

.jeen-artifact {
  width: 100%;
  height: 400px;
  border-radius: 15px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.jeen-artifact:nth-of-type(1) {
  background-image: url("../media/img/jeen_img1.png");
  background-size: contain;
}
.jeen-artifact:nth-of-type(2) {
  background-image: url("../media/img/jeen_img2.png");
  background-size: contain;
}
.jeen-artifact:nth-of-type(3) {
  background-image: url("../media/img/jeen_img3.png");
  background-size: contain;
  margin-bottom: none;
}

.pieces-artifact {
  width: 100%;
  height: 400px;
  border-radius: 15px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.pieces-artifact:nth-of-type(1) {
  background-image: url("../media/img/pieces_img1.png");
}
.pieces-artifact:nth-of-type(3) {
  background-image: url("../media/img/pieces.png");
  background-position: unset;
  margin-bottom: none;
}

.groove-artifact {
  width: 100%;
  height: 400px;
  border-radius: 15px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.groove-artifact:nth-of-type(1) {
  background-image: url("../media/img/groove_img1.png");
  background-size: contain;
  filter: unset;
}
.groove-artifact:nth-of-type(2) {
  background-image: url("../media/img/groove_img2.png");
  background-size: contain;
}
.groove-artifact:nth-of-type(3) {
  background-image: url("../media/img/groove_img3.png");
  background-size: contain;
  margin-bottom: none;
}

.trackrun-artifact {
  width: 100%;
  height: 400px;
  border-radius: 15px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.trackrun-artifact:nth-of-type(1) {
  background-image: url("../media/img/trackrun_img1.png");
  background-size: contain;
}
.trackrun-artifact:nth-of-type(2) {
  background-image: url("../media/img/trackrun_img2.png");
  background-size: contain;
}
.trackrun-artifact:nth-of-type(3) {
  background-image: url("../media/img/trackrun_img3.png");
  background-size: contain;
  margin-bottom: none;
}

.trackrun-issue {
  width: 90%;
  margin: 0 5% 20px;
  border-radius: 30px;
  object-fit: contain;
}

.draw-a-card-artifact {
  width: 100%;
  height: 400px;
  border-radius: 15px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.draw-a-card-artifact:nth-of-type(1) {
  background-image: url("../media/img/drawacard_img1.png");
  background-size: contain;
}
.draw-a-card-artifact:nth-of-type(2) {
  background-image: url("../media/img/drawacard_img2.png");
  background-size: contain;
}
.draw-a-card-artifact:nth-of-type(3) {
  background-image: url("../media/img/drawacard_img3.png");
  background-size: contain;
  margin-bottom: none;
}

.prague-experience-artifact {
  width: 100%;
  height: 400px;
  border-radius: 15px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.prague-experience-artifact:nth-of-type(1) {
  background-image: url("../media/img/prague_experience_img1.png");
  background-size: contain;
}
.prague-experience-artifact:nth-of-type(2) {
  background-image: url("../media/img/prague_experience_img2.png");
  background-size: contain;
}
.prague-experience-artifact:nth-of-type(3) {
  background-image: url("../media/img/prague_experience_img3.png");
  background-size: contain;
  margin-bottom: none;
}

pre {
  width: 100%;
  height: 30%;
  margin-bottom: 20px;
}

.hljs {
  font-size: 1.8rem;
  border-radius: 15px;
}

.contact-article p:nth-of-type(1) {
  margin-bottom: 20px;
}
.contact-article p:nth-of-type(2), .contact-article p:nth-of-type(3) {
  margin-bottom: 10px;
}

.space-after {
  margin-bottom: 10px;
}

.mockup-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mockup {
  width: 100vw;
  height: 75vh;
  object-fit: contain;
}

.hidden {
  display: none !important;
}

/* ____________________ Strokes ____________________ */
.nav-stroke .thin {
  width: 100%;
  height: 3px;
  margin-bottom: 5px;
  background-color: var(--primary-color);
}
.nav-stroke .thick {
  width: 100%;
  height: 6px;
  background-color: var(--primary-color);
}

.footer-stroke {
  margin: 100px 0 40px;
}
.footer-stroke .thick {
  width: 100%;
  height: 10px;
  margin-bottom: 8px;
  background-color: var(--primary-color);
}
.footer-stroke .thin {
  width: 100%;
  height: 5px;
  background-color: var(--primary-color);
}

/* ____________________ Fonts ____________________ */
h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 8rem;
}
@media (max-width: 563px) {
  h1 {
    font-size: 6rem;
    text-align: center;
  }
}
@media (max-width: 481px) {
  h1 {
    font-size: 5.4rem;
    text-align: center;
  }
}
@media (max-width: 394px) {
  h1 {
    font-size: 4.8rem;
    text-align: center;
  }
}
@media (max-width: 353px) {
  h1 {
    font-size: 4.2rem;
  }
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6.4rem;
}
@media (max-width: 563px) {
  h2 {
    font-size: 4.6rem;
  }
}
@media (max-width: 481px) {
  h2 {
    font-size: 4rem;
  }
}
@media (max-width: 394px) {
  h2 {
    font-size: 3.6rem;
  }
}

@media (max-width: 645px) {
  .project-h2 {
    text-align: center;
  }
}

h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
}
@media (max-width: 563px) {
  h3 {
    font-size: 3.5rem;
  }
}
@media (max-width: 481px) {
  h3 {
    font-size: 3.2rem;
  }
}

h4 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.6rem;
}
@media (max-width: 563px) {
  h4 {
    font-size: 2.4rem;
  }
}

p {
  font-size: 1.8rem;
  line-height: 2.75rem;
  margin-bottom: 10px;
}
@media (max-width: 481px) {
  p {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
}

article ul {
  list-style-type: disc;
  font-size: 1.8rem;
  line-height: 2.75rem;
  margin: 0 0 10px 50px;
}
article ul li {
  margin: 10px 0;
}
@media (max-width: 481px) {
  article ul {
    font-size: 1.6rem;
  }
}

article ol {
  list-style-type: decimal;
  font-size: 1.8rem;
  line-height: 2.75rem;
  margin: 0 0 10px 50px;
}
article ol li {
  margin: 10px 0;
}
@media (max-width: 481px) {
  article ol {
    font-size: 1.6rem;
  }
}

strong {
  font-weight: 600;
}

a {
  color: var(--complementary-color1);
}
a h1, a h2, a h3, a h4, a h5, a h6 {
  color: var(--primary-color);
}

.no-decor {
  text-decoration: none;
}

.center-text {
  text-align: center;
}

/* ____________________ Animations ____________________ */
@keyframes fadeInJump {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
