@font-face {
    font-family: 'modernizregular';
    src: url('../fonts/moderniz-webfont.woff2') format('woff2'),
         url('../fonts/moderniz-webfont.woff') format('woff'),
         url('../fonts/Moderniz.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}