
@font-face {
    font-family: "Poetsen One";
    src: url("../fonts/PoetsenOne-Regular.ttf") format("truetype");
    src: url("../fonts/poetsenone-regular-webfont.woff") format("woff");
    src: url("../fonts/poetsenone-regular-webfont.woff2") format("woff2");
}